<div class="container white-text">
    <div class="col s12">
        <div class="row login-section">
            <h1 class="center">Welcome to Tech-Blog</h1>
        </div>

        <div class="row login-section">
            <div class="col s12">
                <h3 class="center">
                    AS A developer who writes about tech
                    I WANT a CMS-style blog site
                    SO THAT I can publish articles, blog posts, and my thoughts and opinions   
                </h3>
            </div>
        </div>