 <div class="col s5 login-section right">
        <form class="tutor-form">
            <div class="row">
                <div class="col s12">
                    <h3>Login as User</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="user-email" class="white-text" placeholder="Email"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input id="user-password" class="white-text" placeholder="Password" type="password"></input>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn">Login as User</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>